{% extends 'base.html.twig' %}

{% block title %}MyClick&Collect{% endblock %}

{% block sidebar %}
  <div class="text-white">
    <p>Recherche un magasin :</p>
  </div>
  <div class="border-bottom border-info">
    {{ form_start(formSearchTown)}}
    {{ form_row(formSearchTown.nameTownSearch)}}
    {{ form_row(formSearchTown.zipCodeSearch)}}
    <button class="btn btn-primary mb-3">Rechercher</button>
    {{ form_end(formSearchTown)}}
  </div>
  {% include 'user/layout/navUserSideBar.html.twig' %}
  <ul class="mt-4 text-white">
    {% for category in categories %}
      <li>{{ category.nameCategory }}</li>
    {% endfor %}
  </ul> 
{% endblock %}

{% block main %}
  <h1 class="mt-4">Bienvenue sur MyClick&Collect {% if app.user.firstName is defined %}{{ app.user.firstName }}{% endif %} !!!</h1>
  {% include 'shop/layout/shopCardTemplate.html.twig' %}
{% endblock %}
