{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block sidebar %}
    <h3 class="text-white">Selectionnez une action:</h3>
    <div class="row">
        <div class="col">
            <a href="{{  path('admin_home') }}" class="btn btn-primary btn-block my-3">Retour à l'accueil de l'administration</a>
        </div>
    </div>
    <div class="row border-bottom border-info">
        <div class="col">
            <a href="{{ path('admin_listcategories') }}" class="btn btn-primary btn-block mb-3">Gérer les catégories</a>
        </div>
    </div>
{% endblock %}

{% block main %}
    <h1 class="mt-4">Accueil administration MyClick&Collect</h1>  
    <h2>Rechercher un utilisateur :</h2><p></p>
    {{ form_start(formSearch)}}
    <div class="row mt-4">
        <div class="col">
            {{ form_row(formSearch.emailSearch)}}
        </div>
        <div class="col">
            {{ form_row(formSearch.lastNameSearch)}}
        </div>
        <div class="col">
            <button class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    {{ form_end(formSearch)}}
    <div class="row justify-content-center mt-4">
        {{ knp_pagination_render(users) }}
    </div>
    {% if (numberResultUser <= 1) %}
        <p>{{ numberResultUser }} résultat trouvé</p>
    {% else %}
        <p>{{ numberResultUser }} résultats trouvés</p>
    {% endif %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{{ knp_pagination_sortable(users,'Nom','lastName') }}</th>
                <th scope="col">{{ knp_pagination_sortable(users,'Prénom','firstName') }}</th>
                <th scope="col">{{ knp_pagination_sortable(users,'Email','email') }}</th>
                <th scope="col">Adresse</th>
                <th scope="col">CP</th>
                <th scope="col">Ville</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Rôle</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.streetNumber }},{{ user.street }}</td>
                        <td>{{ user.town.zipCode }}</td>
                        <td>{{ user.town.nameTown }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>
                            {% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}Administrateur {% endif %}
                            {% if role == 'ROLE_TRADER' %}Commerçant {% endif %}
                            {% if role == 'ROLE_USER' %}Utilisateur {% endif %}
                            {% endfor %}
                        </td>
                        {% if 'ROLE_ADMIN' in user.roles %}
                            <td class="btn btn-danger">L'administrateur ne peut être modifié ici</td>
                        {% else %}
                            <td><a href="{{ path('admin_editroleuser',{'id':user.id})}}" class="btn btn-success">Modifier le rôle</a></td>      
                        {% endif %}
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center mt-3">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function (){
            $("th").children().addClass('text-light');
        })
    </script>
{% endblock %}