{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block sidebar %}
    <h3 class="text-white">Selectionnez une action:</h3>
    <div class="row">
        <div class="col">
            <a href="{{ path('shop_manage-shop',{'id':current_shop.id}) }}" class="btn btn-primary btn-block my-3">Retour au magasin</a>
        </div>
    </div>
    <div class="row border-bottom border-info">
        <div class="col">
            <a href="{{  path('shop_admin') }}" class="btn btn-primary btn-block mb-3">Retour à l'accueil de l'administration</a>
        </div>
    </div>
{% endblock %}

{% block main %}
    <h1 class="mt-4">Gestion des produits</h1>
    <div class="card-header">   
        <ul class="nav nav-tabs card-header-tabs">
            {% if nbSubCat == 0 %}
            <li class="nav-item">
                <a class="nav-link text-dark text-uppercase">Liste des produits disponibles</a>
            </li>
            {% else %}
                {% set i = 1 %} 
                {% for subcat in sub_categories %}
                    <li class="nav-item">
                        <a class="nav-link text-dark cat{{i}} text-uppercase" href="{{ path('shop_list-products',{'id':current_shop.id}) }}?cat={{i}} ">{{subcat.namesubcategory}}</a>
                    </li>
                {% set i = i + 1 %}
                {% endfor %}
                {% if products_without_cat %}
                    <li class="nav-item">
                        <a class="nav-link text-dark cat{{i}} text-uppercase" href="{{ path('shop_list-products',{'id':current_shop.id}) }}?cat={{i}} ">sans catégorie</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    {% if nbSubCat == 0 %}
        {% for productsByCat in products_list %}
            {% if products_list.items == null %}
                <div class="row card-body">
                    <div class="col-3"></div>
                    <div class="col-6 text-center bg-danger text-white rounded">
                        <p class="m-4">
                            Il n'y a aucun produits enregistrer dans cette catégorie. 
                        </p>
                    </div>
                    <div class="col-3"></div>
                </div>  
            {% endif %} 
        {% endfor %}    
        <div class="card-body">
            <div class="row mt-3">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">picture</th>
                                <th scope="col">Liste des produits non catégorisé </th>
                                <th scope="col" colspan="2"><a href="" class="btn btn-primary text-white">Ajouter un produit </a></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for product in products_list %}
                                    <tr>
                                        <td>{{ product.picture }}</td>
                                        <td>{{ product.title }}</td> 
                                        <td><a href="" class="btn btn-warning text-white">Modifier</a></td>
                                        <td><a href="" class="btn btn-danger">Supprimer</a></td>
                                    </tr>
                                {% endfor %}   
                            </tbody>
                        </table>
                        <div class="row justify-content-center mt-3">
                            {{ knp_pagination_render(products_list) }}
                        </div> 
                    </div>  
                </div>
            </div>
        </div>          
    {% else %} 
        {% set j = 0 %}
        {% for productsByCat in products_list %}
            {% if productsByCat.items == null %}
                <div class="row card-body">
                    <div class="col-3"></div>
                    <div class="col-6 text-center bg-danger text-white rounded">
                        <p class="m-4">
                            Il n'y a aucun produits enregistrer dans cette catégorie.  
                        </p>
                    </div>
                    <div class="col-3"></div>
                </div> 
            {% else %}         
                <div class="row mt-3">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">picture</th>
                                    <th scope="col">Liste des produits {{ productsByCat.items[j].subCategory == null ? 'non catégorisé' : 'de la catégorie ' ~ productsByCat.items[i].subCategory.nameSubCategory }} </th>
                                    <th scope="col" colspan="2"><a href="" class="btn btn-primary text-white">Ajouter un produit </a></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for product in productsByCat %}
                                        <tr>
                                            <td>{{ product.picture }}</td>
                                            <td>{{ product.title }}</td> 
                                            <td><a href="" class="btn btn-warning text-white">Modifier</a></td>
                                            <td><a href="" class="btn btn-danger">Supprimer</a></td>
                                        </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                            <div class="row justify-content-center mt-3">
                                {{ knp_pagination_render(productsByCat) }}
                            </div> 
                        </div>  
                    </div>
                </div> 
            {% endif %}
        {% set j = j + 1 %}
        {% endfor %}
    {% endif %} 
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/interactive-menu-categories.js') }}"></script>
{% endblock %}