{% extends 'base.html.twig' %}

{% block sidebar %}
<h3 class="text-white">Selectionnez une action:</h3>
    <div class="row">
        <div class="col">
            <a href="#" class="btn btn-primary btn-block my-3">Gérer les catégories</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#" class="btn btn-primary btn-block mb-3">Gérer les produits</a>
        </div>
    </div>
    <div class="row border-bottom border-info">
        <div class="col">
            <a href="#" class="btn btn-primary btn-block mb-3">Liste des commandes</a>
        </div>
    </div>
{% endblock %}

{% block main %}
    <h1 class="mt-4">Gestionnaire du magasin {{ current_shop.nameShop }}</h1> 
    <div class="card text-center mt-3">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                {% for subcategory in sub_categories %}
                    <li class="nav-item" onclick="afficher('div.target{{ loop.index }}')">
                    <P class="nav-link active" aria-current="true" href="#">{{ subcategory.nameSubCategory }}</P>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% for subcategory in sub_categories %}
        
        
        <div class="card-body {{ loop.index == 1 ?'':'d-none' }} target{{ loop.index }}">
            {% for product in products %}
        {% if (product.subCategory.id == subcategory.id) %}
        <h5 class="card-title">{{ subcategory.nameSubCategory }}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endif %}
        {% endfor %}
        </div>
        
        
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    <script>

            function afficher(element){
                $('div.card-body:not(.d-none)').addClass('d-none')
                $(element).removeClass('d-none')
            }
    </script>
{% endblock %}