<div class="container">
    <h2 class="mt-3">Votre commande au magasin {{ items[0].product.shop.nameShop }}</h2>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="table-responsive">
        <table class="table table-bordered bg-white text-center mt-3">
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de la commande</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Modifier Qté</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
                {% set prixTotal = 0 %}
                {% for item in items %}
                    <tr>
                        <td><img src="{{ asset('images/' ~ item.product.picture )}}" width="100" alt="image du produit"></td>
                        <td><div>{{ item.product.title }}</div></td>
                        <td>{{ item.ordered.date | date('d M y à H:i') }}</td>
                        <td>{{ item.product.price }} €</td>
                        <td> 
                            Quantité demandé : {{ item.quantity }}
                        </td>
                        {% if item.product.stock != 0 %}
                        <td>    
                            <form action="{{ path('add-cart',{'shop':item.product.shop.id,'user':app.user.id,'product':item.product.id}) }}" method="GET" class="form-group"> 
                                <div class="row">
                                <div class="col-4">
                                    <label for="quantity-select">Qté</label>
                                </div>
                                <div class="col-6">
                                    <select name="quantity" id="quantity-select" class="form-control">
                                        {% set i = 1 %}
                                        {% for i in 1..item.product.stock %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>    
                            </div> 
                                <button class="btn btn-primary mt-2">Modifier</button>                           
                            </form>                    
                        </td>
                        {% endif %} 
                        {% if item.quantity <= item.product.stock %}
                            <td>{{ item.product.price * item.quantity }} €</td>
                            {% set prixTotal = prixTotal + item.product.price * item.quantity %}

                        {% else %}
                            <td colspan="{{ item.product.stock == 0 ? 2 : 1 }}" class="bg-danger">
                                <p class="text-white">
                                    Désolé ce produit n'est plus disponible. <br>
                                    Stock disponible: {{ item.product.stock }}
                                </p>                           
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('delete-ordered-product',{'id':item.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="bg-danger text-warning">
                        Attention votre commande n'a pas encore été validé !
                    </td>
                    <td colspan="2" class="text-right">Total de la commande : </td>
                    <td>{{ prixTotal }} €</td>
                    <td><a href="{{ path('valid-cart',{'id': items[0].ordered.id }) }}" class="btn btn-primary">Valider la commande</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>  
</div>